#search {
    display: flex;
    max-width: 500px;
    justify-content: center;
    margin: 20px auto;
}
#search input{
    width: 300px;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
}
#search button{
    background: none;
    border: none;
    outline: none;
}